html,
body,
* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
}

.list-item,
input[type="text"] {
    border-radius: 5px;
}

.list-item {
    /* border: 2px solid skyblue; */
    min-width: 100%;
    padding: 8px 13px;
    background-color: #f8f8f8;
    font-weight: 600;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:
        #5c963b
}

ul {
    list-style: none;
    padding-left: 0
}

input[type="text"] {
    width: 100%;
    padding: 10px 15px;
}

label {
    font-size: 18px;
    margin-bottom: -20px;
    margin-left: 10px;
    padding-left: 3px;
    z-index: 1000;
    background-color: white;
    width: 43px
}


#add-item-btn {
    background:  rgb(75, 175, 8);
    padding: .7em;
    border-radius: 4px;
    border: none;
    color: #ffff;
    cursor: pointer;
    transition: all 0.3s ease;
}
#add-item-btn:active {
    transform: scale(0.96);
}



/* /list */
.list-item button {
    border: none;
    margin: 0 auto;
    padding: 10px 17px;
    cursor: pointer;
    background: none;
    transition: all 0.3s ease;
    color: rgb(114, 110, 110);
}

.list-item button:hover {
    transform: scale(0.8);
    /* background: red; */
    opacity: .5;
}


.shop-item {
    margin: 0;
}

#quantity {
    font-weight: 300;
    font-size: .7em;
    margin-top: 5px;
    /* background: red; */
    margin-bottom: 0;
    color:
        #bcbcbc;
}

.number-quantity {
    color: rgb(75, 175, 8);
    font-weight: 400;
    margin: 0 .2em;
    /* background: red; */
}